*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.side {
    height: 100vh;
    width: 5rem;
    background: lightgrey;
}
.sidebar {
    display: flex;
}

.blue-space {
    width: 4rem;
    height: 2rem;
    background: lightblue;
    margin: .5rem 1rem;

}

.continer2 {
    display: flex;
    flex-direction: column;
    width: calc(100% - 5rem);
}
.header {
    width: 100% ;
    background:  lightblue;
    height: 3rem;
}

.navbar {
    display: flex;
    justify-content: end;
    margin-right: 1rem;
    height: 3rem;
    align-items: center;
}
.logo {
    width: 2rem;
    height: 1.5rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: calc(100% - 3rem);
}

.body {
    height: calc(100% - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {
    width: 30%;
    height: 40%;
   background: ;
}